.blackParagraph{
    background-color: black;
    color: #E0D68A;
}

.calendarList {
    list-style-type: none;
    padding:0;
    margin: 0;
}

.calendarWeekdaysList {
    list-style-type: none;
    font-size:x-large;
    padding-left: 0;
    display: inline-block;
    width: 92%;
}

.calendarWeekdaysList > li {
    display: inline-block;
    height: 2%;
    width: 13.6%;
    text-align: center;
}

.calendarList > li {
    display: inline-block;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 13.6%;
    text-align: center;
    font-size: x-large;  
}

.calendarList > li > button{
    border: none;
    border-radius: 8px;
    position: relative;
    background-color: inherit;
    padding: 0;
    font-family: cursive;
}

.calendarList > li > button:hover{
    background-color: #320A28;
    color: #E0D68A;
    width: 35px;
    height: 35px;
}
    
.tooltiptext {
    position: static;
    background-color: #CB9173 ;
    color: #E0D68A;
    text-align: center;
    padding: 5px 0;
    z-index: 1;
    left:50%;
    width: 100%;
}

.liWithData{
    
    background-color: #E0D68A;
    width: 13.6%;
    height: 1%;
    padding-bottom: 0;
    letter-spacing: 3px;
}

#today{
    background-color: #320A28;
    border-radius: 0px;
}

#today > button {
    color:#E0D68A;
}

#pageContainer {
    text-align: center;
}

#titleRow{
    color:#E0D68A;
}

#homePage {
    background-color: #511730;
    height: calc(100vh - 56px);
}

#calendarContainer{
    background-color: #CB9173;
    padding-top:1%;
    padding-bottom: 3%;
}


#daysContainer {
   
}

#next, #prev {
    border: 2px solid #320A28;
    border-radius: 20px;
    background-color: #E0D68A;
    color: #320A28;
}
#next:hover, #prev:hover{
    background-color: #320A28;
    color: #E0D68A;
    border: 2px solid #E0D68A;
}


#calendarBodyContainer{
    display: grid;
    grid-template-columns: 3% 94% 3%;
}

#calendarBodyContainer > button{
    padding: 0;
    margin: 0;
}

#weekdaysContainer{
    text-align: center;
    position: relative;
}

