.navigation{
    list-style-type: none;
    background-color: #2F2504;
}

.nav-links{
   
    padding: 10px 20px;
    display: inline-block;
    color: white;
}

.nav-a {
    text-decoration: none;
    color: white;
}

.right{
    float: right;
}