@media only screen and (min-width: 768px){
    
    .registerContainer{
        margin-left:10vw;
        margin-right: 10vw;
        margin-top:25vh;
        padding: 5vh;
        border-radius: 20px;
        background-color: #8E443D;
        color: #E0D68A;
    }

}

@media only screen and (max-width: 768px){
    
    .registerContainer{
        margin-top:25vh;
        padding: 5vh;
        border-radius: 20px;
        background-color: #8E443D;
        color: #E0D68A;
    }

}

.btn {
    background-color: #511730;
    border: none;
}

.btn:hover{
    background-color: #320A28;
    border: none;
}

.form-control {
    background-color: #511730;
    border: none;
    color: #E0D68A;
}

.form-control:active {
    background-color: #511730;
    border: none;
    color: #E0D68A;
}

.form-control:hover {
    background-color: #320A28;
    border: none;
    color: #E0D68A;
}